/****** Object:  Database [bd_InterDisciplinar]    Script Date: 08/28/2014 20:38:40 ******/
CREATE DATABASE [bd_InterDisciplinar] 
ALTER DATABASE [bd_InterDisciplinar] SET COMPATIBILITY_LEVEL = 100
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_InterDisciplinar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_InterDisciplinar]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[IdPais] [int] IDENTITY(1,1) NOT NULL,
	[Pais] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PAIS_] PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONE]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONE](
	[IdTelefone] [int] IDENTITY(1,1) NOT NULL,
	[Telefone] [nvarchar](15) NOT NULL,
	[Tipo] [int] NOT NULL,
 CONSTRAINT [PK_TELEFONE] PRIMARY KEY CLUSTERED 
(
	[IdTelefone] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SETOR]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SETOR](
	[IdSetor] [int] IDENTITY(1,1) NOT NULL,
	[Setor] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SETOR] PRIMARY KEY CLUSTERED 
(
	[IdSetor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[IdProduto] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdMarca] [int] NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Descricao] [nvarchar](100) NOT NULL,
	[PrecoUnitario] [money] NOT NULL,
	[EstoqueMinimo] [int] NOT NULL,
	[EstoqueMaximo] [int] NULL,
	[EstoqueAtual] [int] NOT NULL,
 CONSTRAINT [PK_PRODUTO] PRIMARY KEY CLUSTERED 
(
	[IdProduto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[IdPais] [int] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADO_] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIDADE]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIDADE](
	[IdCidade] [int] IDENTITY(1,1) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[Cidade] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CIDADE_] PRIMARY KEY CLUSTERED 
(
	[IdCidade] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCIONARIO]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONARIO](
	[IdFuncionario] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Cpf] [nvarchar](15) NOT NULL,
	[Endereco] [nvarchar](100) NOT NULL,
	[IdCidade] [int] NOT NULL,
 CONSTRAINT [PK_FUNCIONARIO] PRIMARY KEY CLUSTERED 
(
	[IdFuncionario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORNECEDOR]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORNECEDOR](
	[IdFornecedor] [int] IDENTITY(1,1) NOT NULL,
	[Cnpj] [nvarchar](20) NOT NULL,
	[InscricaoEstadual] [nvarchar](50) NOT NULL,
	[NomeFantasia] [nvarchar](50) NOT NULL,
	[RazaoSocial] [nvarchar](50) NOT NULL,
	[EnderecoComercial] [nvarchar](100) NOT NULL,
	[IdCidade] [int] NOT NULL,
 CONSTRAINT [PK_FORNECEDOR] PRIMARY KEY CLUSTERED 
(
	[IdFornecedor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRADA_PRODUTO]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRADA_PRODUTO](
	[IdEntradaProduto] [int] IDENTITY(1,1) NOT NULL,
	[Quantidade] [int] NOT NULL,
	[Data] [datetime] NOT NULL,
	[IdFornecedor] [int] NOT NULL,
	[IdFuncionario] [int] NOT NULL,
	[IdProduto] [int] NOT NULL,
	[PrecoCusto] [money] NOT NULL,
 CONSTRAINT [PK_ESTOQUE] PRIMARY KEY CLUSTERED 
(
	[IdEntradaProduto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime] NOT NULL,
	[IdFuncionario] [int] NOT NULL,
	[ValorTotal] [money] NOT NULL,
 CONSTRAINT [PK_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Senha] [nvarchar](100) NOT NULL,
	[Tipo] [int] NOT NULL,
	[IdFuncionario] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO_1] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCIONARIO_TELEFONE]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONARIO_TELEFONE](
	[IdFuncionario] [int] NOT NULL,
	[IdTelefone] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTATO]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTATO](
	[IdContato] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[IdSetor] [int] NOT NULL,
	[IdFornecedor] [int] NULL,
 CONSTRAINT [PK_CONTATO] PRIMARY KEY CLUSTERED 
(
	[IdContato] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITENS_PEDIDO]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITENS_PEDIDO](
	[IdItensPedido] [int] IDENTITY(1,1) NOT NULL,
	[IdProduto] [int] NOT NULL,
	[IdPedido] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
	[ValorUnitario] [money] NOT NULL,
 CONSTRAINT [PK_ITENS_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[IdItensPedido] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTATO_TELEFONE]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTATO_TELEFONE](
	[IdContato] [int] NOT NULL,
	[IdTelefone] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTATO_FORNECEDOR]    Script Date: 08/28/2014 20:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTATO_FORNECEDOR](
	[IdContato] [int] NOT NULL,
	[IdFornecedor] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_PRODUTO_CATEGORIA]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_CATEGORIA] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CATEGORIA] ([IdCategoria])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_PRODUTO_CATEGORIA]
GO
/****** Object:  ForeignKey [FK_PRODUTO_MARCA]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_MARCA] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[MARCA] ([IdMarca])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_PRODUTO_MARCA]
GO
/****** Object:  ForeignKey [FK_ESTADO__PAIS_]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[ESTADO]  WITH CHECK ADD  CONSTRAINT [FK_ESTADO__PAIS_] FOREIGN KEY([IdPais])
REFERENCES [dbo].[PAIS] ([IdPais])
GO
ALTER TABLE [dbo].[ESTADO] CHECK CONSTRAINT [FK_ESTADO__PAIS_]
GO
/****** Object:  ForeignKey [FK_CIDADE__ESTADO_]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[CIDADE]  WITH CHECK ADD  CONSTRAINT [FK_CIDADE__ESTADO_] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[ESTADO] ([IdEstado])
GO
ALTER TABLE [dbo].[CIDADE] CHECK CONSTRAINT [FK_CIDADE__ESTADO_]
GO
/****** Object:  ForeignKey [FK_FUNCIONARIO_CIDADE_]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_CIDADE_] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[CIDADE] ([IdCidade])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_FUNCIONARIO_CIDADE_]
GO
/****** Object:  ForeignKey [FK_FORNECEDOR_CIDADE_]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[FORNECEDOR]  WITH CHECK ADD  CONSTRAINT [FK_FORNECEDOR_CIDADE_] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[CIDADE] ([IdCidade])
GO
ALTER TABLE [dbo].[FORNECEDOR] CHECK CONSTRAINT [FK_FORNECEDOR_CIDADE_]
GO
/****** Object:  ForeignKey [FK_ENTRADA_PRODUTO_FORNECEDOR]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[ENTRADA_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_ENTRADA_PRODUTO_FORNECEDOR] FOREIGN KEY([IdFornecedor])
REFERENCES [dbo].[FORNECEDOR] ([IdFornecedor])
GO
ALTER TABLE [dbo].[ENTRADA_PRODUTO] CHECK CONSTRAINT [FK_ENTRADA_PRODUTO_FORNECEDOR]
GO
/****** Object:  ForeignKey [FK_ENTRADA_PRODUTO_FUNCIONARIO]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[ENTRADA_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_ENTRADA_PRODUTO_FUNCIONARIO] FOREIGN KEY([IdFuncionario])
REFERENCES [dbo].[FUNCIONARIO] ([IdFuncionario])
GO
ALTER TABLE [dbo].[ENTRADA_PRODUTO] CHECK CONSTRAINT [FK_ENTRADA_PRODUTO_FUNCIONARIO]
GO
/****** Object:  ForeignKey [FK_ENTRADA_PRODUTO_PRODUTO]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[ENTRADA_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_ENTRADA_PRODUTO_PRODUTO] FOREIGN KEY([IdProduto])
REFERENCES [dbo].[PRODUTO] ([IdProduto])
GO
ALTER TABLE [dbo].[ENTRADA_PRODUTO] CHECK CONSTRAINT [FK_ENTRADA_PRODUTO_PRODUTO]
GO
/****** Object:  ForeignKey [FK_PEDIDO_FUNCIONARIO]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_FUNCIONARIO] FOREIGN KEY([IdFuncionario])
REFERENCES [dbo].[FUNCIONARIO] ([IdFuncionario])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_FUNCIONARIO]
GO
/****** Object:  ForeignKey [FK_USUARIO_FUNCIONARIO]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_FUNCIONARIO] FOREIGN KEY([IdFuncionario])
REFERENCES [dbo].[FUNCIONARIO] ([IdFuncionario])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_FUNCIONARIO]
GO
/****** Object:  ForeignKey [FK_FUNCIONARIO_TELEFONE_FUNCIONARIO]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[FUNCIONARIO_TELEFONE]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_TELEFONE_FUNCIONARIO] FOREIGN KEY([IdFuncionario])
REFERENCES [dbo].[FUNCIONARIO] ([IdFuncionario])
GO
ALTER TABLE [dbo].[FUNCIONARIO_TELEFONE] CHECK CONSTRAINT [FK_FUNCIONARIO_TELEFONE_FUNCIONARIO]
GO
/****** Object:  ForeignKey [FK_FUNCIONARIO_TELEFONE_TELEFONE]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[FUNCIONARIO_TELEFONE]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_TELEFONE_TELEFONE] FOREIGN KEY([IdTelefone])
REFERENCES [dbo].[TELEFONE] ([IdTelefone])
GO
ALTER TABLE [dbo].[FUNCIONARIO_TELEFONE] CHECK CONSTRAINT [FK_FUNCIONARIO_TELEFONE_TELEFONE]
GO
/****** Object:  ForeignKey [FK_CONTATO_FORNECEDOR]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[CONTATO]  WITH CHECK ADD  CONSTRAINT [FK_CONTATO_FORNECEDOR] FOREIGN KEY([IdFornecedor])
REFERENCES [dbo].[FORNECEDOR] ([IdFornecedor])
GO
ALTER TABLE [dbo].[CONTATO] CHECK CONSTRAINT [FK_CONTATO_FORNECEDOR]
GO
/****** Object:  ForeignKey [FK_CONTATO_SETOR]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[CONTATO]  WITH CHECK ADD  CONSTRAINT [FK_CONTATO_SETOR] FOREIGN KEY([IdSetor])
REFERENCES [dbo].[SETOR] ([IdSetor])
GO
ALTER TABLE [dbo].[CONTATO] CHECK CONSTRAINT [FK_CONTATO_SETOR]
GO
/****** Object:  ForeignKey [FK_ITENS_PEDIDO_PEDIDO]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[ITENS_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_ITENS_PEDIDO_PEDIDO] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[PEDIDO] ([IdPedido])
GO
ALTER TABLE [dbo].[ITENS_PEDIDO] CHECK CONSTRAINT [FK_ITENS_PEDIDO_PEDIDO]
GO
/****** Object:  ForeignKey [FK_ITENS_PEDIDO_PRODUTO]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[ITENS_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_ITENS_PEDIDO_PRODUTO] FOREIGN KEY([IdProduto])
REFERENCES [dbo].[PRODUTO] ([IdProduto])
GO
ALTER TABLE [dbo].[ITENS_PEDIDO] CHECK CONSTRAINT [FK_ITENS_PEDIDO_PRODUTO]
GO
/****** Object:  ForeignKey [FK_CONTATO_TELEFONE_CONTATO]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[CONTATO_TELEFONE]  WITH CHECK ADD  CONSTRAINT [FK_CONTATO_TELEFONE_CONTATO] FOREIGN KEY([IdContato])
REFERENCES [dbo].[CONTATO] ([IdContato])
GO
ALTER TABLE [dbo].[CONTATO_TELEFONE] CHECK CONSTRAINT [FK_CONTATO_TELEFONE_CONTATO]
GO
/****** Object:  ForeignKey [FK_CONTATO_TELEFONE_TELEFONE]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[CONTATO_TELEFONE]  WITH CHECK ADD  CONSTRAINT [FK_CONTATO_TELEFONE_TELEFONE] FOREIGN KEY([IdTelefone])
REFERENCES [dbo].[TELEFONE] ([IdTelefone])
GO
ALTER TABLE [dbo].[CONTATO_TELEFONE] CHECK CONSTRAINT [FK_CONTATO_TELEFONE_TELEFONE]
GO
/****** Object:  ForeignKey [FK_CONTATO_FORNECEDOR_CONTATO]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[CONTATO_FORNECEDOR]  WITH CHECK ADD  CONSTRAINT [FK_CONTATO_FORNECEDOR_CONTATO] FOREIGN KEY([IdContato])
REFERENCES [dbo].[CONTATO] ([IdContato])
GO
ALTER TABLE [dbo].[CONTATO_FORNECEDOR] CHECK CONSTRAINT [FK_CONTATO_FORNECEDOR_CONTATO]
GO
/****** Object:  ForeignKey [FK_CONTATO_FORNECEDOR_FORNECEDOR]    Script Date: 08/28/2014 20:38:42 ******/
ALTER TABLE [dbo].[CONTATO_FORNECEDOR]  WITH CHECK ADD  CONSTRAINT [FK_CONTATO_FORNECEDOR_FORNECEDOR] FOREIGN KEY([IdFornecedor])
REFERENCES [dbo].[FORNECEDOR] ([IdFornecedor])
GO
ALTER TABLE [dbo].[CONTATO_FORNECEDOR] CHECK CONSTRAINT [FK_CONTATO_FORNECEDOR_FORNECEDOR]
GO
